<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.jack.zoo">

    <application>
        <activity android:name=".practiceAnsActivity" />
        <activity android:name=".gameIFMActivity"></activity>
    </application>

</manifest>